

.card-slider {
    overflow: hidden;
}

.cards-wrapper {
    display: flex;
    transition: transform 0.7s ease-in-out;
}

.card {
    flex: 0 0 31%;
    /* Display 4 cards in a row */
    box-sizing: border-box;
    padding: 10px;
    margin-right: 10px;
}

@media only screen and (min-width:325px) and (max-width: 425px) {
    .card {
        flex: 0 0 50%;

    }


}


.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}
