.card-slider2 {
    overflow: hidden;
}

.cards-wrapper2 {
    display: flex;
    transition: transform 0.7s ease-in-out;
}

.card2 {
    flex: 0 0 45%;
    /* Display 4 cards in a row */
    box-sizing: border-box;
    padding: 10px;
    margin-right: 10px;
}



.prev-button2 {
    left: 0;
}

.next-button2 {
    right: 0;
}
