.card-slider3 {
    overflow: hidden;
}

.cards-wrapper3 {
    display: flex;
    transition: transform 0.7s ease-in-out;
}

.card3 {
    flex: 0 0 25%;
    /* Display 4 cards in a row */
    box-sizing: border-box;
    padding: 10px;
    margin-right: 10px;
}

@media only screen and (min-width:325px) and (max-width: 425px) {
    .card3 {
        flex: 0 0 50%;

    }


}
.prev-button3 {
    left: 0;
}

.next-button3 {
    right: 0;
}
